<ol class="flex items-center whitespace-nowrap">
  <li
    class="inline-flex items-center"
    *ngFor="let breadcrumb of breadcrumbs$ | async; let isLast = last"
  >
    <a
      [ngClass]="{
        'flex items-center text-sm font-semibold truncate': true,
        'text-neutral-400 hover:text-neutral-200': !isLast,
        'text-neutral-600 cursor-default pointer-events-none': isLast
      }"
      [routerLink]="'/' + breadcrumb.url"
    >
      {{ breadcrumb.label }}
    </a>
    <ng-container *ngIf="!isLast">
      <svg
        class="shrink-0 mx-2 size-4 text-neutral-400 dark:text-neutral-600"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </ng-container>
  </li>
</ol>
